<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <link rel='shortcut icon', href='/favicon.png'>
    <link rel='stylesheet' href='/stylesheets/pnotify.min.css'>
    <link rel='stylesheet' href='/stylesheets/animate.css'>
    <link rel='stylesheet' href='/stylesheets/nano.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jura:400,700|Pattaya">
  </head>
  <body>
    <div class="main-dashboard">
      <div class="table-panel">
        <div class="left-bar table-child">
          <div id="leftBarNano" class="nano">
            <div class="nano-content">
              <ul class="list-target list-unstyled" id="listTarget">
                <li data-target-id="ID" class="target-item">
                  <div class="table-panel">
                    <div class="table-child ver-mid user-avatar">
                      <img src="./images/default-user.png" alt="User name" class="img-circle">
                    </div>
                    <div class="table-child ver-mid chat-del">
                      <h3 class="user-name">Lee Sin</h3>
                      <p class="chat-status">Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ?</p>
                    </div>
                  </div>
                </li>
                <li data-target-id="ID" class="target-item new-message">
                  <div class="table-panel">
                    <div class="table-child ver-mid user-avatar">
                      <img src="./images/default-user.png" alt="User name" class="img-circle">
                    </div>
                    <div class="table-child ver-mid chat-del">
                      <h3 class="user-name">Lee Sin</h3>
                      <p class="chat-status">Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ?</p>
                    </div>
                  </div>
                </li>
                <li data-target-id="ID" class="target-item avtive">
                  <div class="table-panel">
                    <div class="table-child ver-mid user-avatar">
                      <img src="./images/default-user.png" alt="User name" class="img-circle">
                    </div>
                    <div class="table-child ver-mid chat-del">
                      <h3 class="user-name">Lee Sin</h3>
                      <p class="chat-status">Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ?</p>
                    </div>
                  </div>
                </li>
                <li data-target-id="ID" class="target-item">
                  <div class="table-panel">
                    <div class="table-child ver-mid user-avatar">
                      <img src="./images/default-user.png" alt="User name" class="img-circle">
                    </div>
                    <div class="table-child ver-mid chat-del">
                      <h3 class="user-name">Lee Sin</h3>
                      <p class="chat-status">Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ? Hey !! are you OK ?</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="main-content table-child ver-mid">
          <div class="room-header">
            <h2 class="room-detail"><%= roomTitle %></h2>
          </div>
          <div id="mainChat" class="main-chat">
            <div id="mainChatNano" class="nano">
              <div class="nano-content">
                <ul class="list-unstyled list-messages" id="listMessages" data-target="<%= target %>" >
                  <li class="message-item right-message">
                    <p class="message-time">6/30/2017, 2:29:20 AM</p>
                    <div class="table-panel">
                      <div class="table-child ver-mid">
                        <div class="message-content-box">
                          <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                      <div class="table-child message-user-avatar ver-top">
                        <img src="./images/default-user.png" alt="User name" class="img-circle">
                      </div>
                    </div>
                  </li>
                  <li class="message-item left-message">
                    <p class="message-time">6/30/2017, 2:29:20 AM</p>
                    <div class="table-panel">
                      <div class="table-child message-user-avatar ver-top">
                        <img src="./images/default-user.png" alt="User name" class="img-circle">
                      </div>
                      <div class="table-child ver-mid">
                        <div class="message-content-box">
                          <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-box">
            <form id="form" onsubmit="return false;">
              <div class="table-panel">
                <div class="table-child ver-mid">
                  <input data-target="<%= target %>" type="text" id="messageInput" class="message-input no-outline" placeholder="Enter message ..." autofocus>
                </div>
                <div class="table-child send-button-box ver-mid">
                  <button class="send-button no-outline" id="sendButton" onclick="sendMessage()">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src='/socket.io/socket.io.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='/javascripts/pnotify.min.js'></script>
  <script src='/javascripts/nanoscroller.min.js'></script>
  <script type="text/javascript">
    $("#leftBarNano").nanoScroller({ scroll: 'top' });
    $("#mainChatNano").nanoScroller({ scroll: 'bottom' });

    var socket = io();
    function sendMessage() {
      socket.emit('new message', $('#messageInput').data('target'), $('#messageInput').val());
      $('#messageInput').val('');
      $('#messageInput').focus();
    }

    socket.on('chat message', function(listMessageTarget, messageHtml){
      $(listMessageTarget).append(messageHtml);
      $("#mainChatNano").nanoScroller();
      $("#mainChatNano").nanoScroller({ scroll: 'bottom' });
    });

    socket.on('notify', function(content, type){
      new PNotify({
        text: content,
        addclass: 'notice-' + type,
        animate: {
          animate: true,
          in_class: 'rotateInDownLeft',
          out_class: 'rotateOutUpRight'
        },
        icon: false
      });
    });
  </script>
</html>
