<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <link rel='shortcut icon', href='/favicon.png'>
  </head>
  <body>
    <h1>Wellcome <%= title %></h1>
    <ul id="messages-area"></ul>
    <form id="form" onsubmit="return false;">
      <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript">
    var socket = io();
    function sendFunction() {
      socket.emit('new message', $('#new-message').val());
      $('#new-message').val('');
    };
    socket.on('chat message', function(msg){
      $('#messages-area').append($('<li>').text(msg));
    });
  </script>
  </script>
</html>
