<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <link rel='shortcut icon', href='/favicon.png'>
  </head>
  <body>
    <h1>Wellcome <%= title %></h1>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io();
  </script>
</html>
